@{
  Layout = "_Layout";
}

@model HairSalon.Models.Stylist

<h4>BY CONFIRMING THIS CHOICE IT WILL BE REMOVING A STYLIST FROM YOUR SITE</h4>
<p>Please make sure all parties are aware of last date of work.</p>

@Html.DisplayNameFor(model => model.Name) : @Html.DisplayFor(model => model.Name)
@Html.DisplayNameFor(model => model.Notes) : @Html.DisplayFor(model => model.Notes)

@using (Html.BeginForm())
{
  <input type="submit" value="Remove Client" />
}

@Html.ActionLink("Back to Clients", "Index")
@Html.ActionLink("Show all Stylists", "Index", "Stylists")
@Html.ActionLink("Return Home", "Index", "Home")
