@{
	Layout = "_Layout";
}

@model HairSalon.Models.Client

<h2>Edit entry on @Model.Name</h2>

@using (Html.BeginForm())
{
	@Html.HiddenFor(model => model.ClientId)
	@Html.LabelFor(model => model.Name)
	@Html.EditorFor(model => model.Name)
  @Html.LabelFor(model => model.Notes)
	@Html.EditorFor(model => model.Notes)
	@Html.LabelFor(model => model.Stylist)
  @Html.DropDownList("SylistId")
	<input type="submit" value="Update Client" />
}
@Html.ActionLink("Back to Stylists", "Index", "Stylists")
@Html.ActionLink("Show All Clients", "Index")
@Html.ActionLink("Return Home", "Index", "Home")